 # OUR SECOND PROJECT

In [ ]:
print("hello world!")

### division of integer

In [ ]:
##### first_number=8
second_number=int(input('the dividend is'))
result=first_number/second_number
print('the quotient:',result)

### addition of floats

In [ ]:
first_number=45.8
second_number=int(input('the missing number is'))
result=first_number+second_number
print('the sum is:',result)

### subtraction of float from integer

In [ ]:
first_number=56
second_number=float ( input('the second number is'))
result=first_number-second_number
print('the difference is:',result)

### area of a cone( pi*radius cube*slant height)

In [ ]:
pi=3.14
radius=int(input('the radius is'))
slant_height=5.6
result=pi*radius*slant_height
print('the area of cone is:',result)

### area of a rectangle

In [ ]:
pi=3.14
radius=3**3
slant_height=int(input ('the height is'))
result=pi*radius*slant_height
print('the area of cone is:',result)

In [ ]:
pi=3.14
radius=3**3
slant_height= float(input('the height is'))
result=pi*radius*slant_height
print('the area of cone is:',result)

# list

In [ ]:
#creating a list
list_1 =['b','r','i','g','h','t']

In [ ]:
a= 'bright'
list_2 =[a]
#printing out the values of your
print(list_1)

# list operations
- indexing,slicing operation:a way to refer the individual terms within an iterable by its position
- insert(): add items to a list in a specific position
- remove():removes the first occurence of the element with the specified value
- append(); it is a pre-defined method used to add a single item to certain collection types
- sort():arranging data in a particular order
- index():refer to a position within an ordered list
- min(), max()
- pop()
- clear()

In [ ]:
#Creating a list
list_2 = [1,4,2,5,7,4,0,9,8]

In [ ]:
q2a##len is used in getting the exact length of the above given list
len(list_2)

In [ ]:
####list indexing/slicing operations

In [ ]:
#1st element
list_2[0]

In [ ]:
list_2[1]

In [ ]:
list_2[-1]

In [ ]:
list_2[-8]

In [ ]:
list_2[2:4]

In [ ]:
list_2[2:5]

insert is used to add an element to the list

In [ ]:
#in this case insert is used to add 2 and 6
list_2.insert(2,6)
print(list_2)

In [ ]:
#remove is used to abolish 4 from the list
list_2.remove(4)

In [ ]:
#this is calling list 2 to find out if the recent activity  has been performed
list_2

In [ ]:
#append is used to add a single element to a list
list_2.append(25)

In [ ]:
list_2

In [ ]:
#sort is used to arrange data in a particular order
list_2.sort()

In [ ]:
list_2

In [ ]:
#it is used to refer to a position in a list
list_2.index(4)

In [ ]:
#it is used to identify the lowest value
min(list_2)

In [ ]:
#it is used to identify the highest value
max(list_2)

In [ ]:
#it removes an item from a specific index

list_2.pop(3)

In [ ]:
#it is used to remove all items on a list
list_2.clear()

In [ ]:

list_2

In [ ]:
#creating a new list
list_3=[1,2,3,4,5,6,7,8]

In [ ]:
#extend can be used to join two lists together
list_2.extend(list_3)

In [ ]:
#printing the outcome
print('list after extend():',list_2)

In [ ]:
l_4 = [1,2,3,4,5,6,7,8]

In [ ]:

max(l_4)

In [ ]:
#differences between set, tuple,and list.
l_5=[2,2]
l_6=(2,2)
l_7={2,2}

In [ ]:
print(l_5,l_6,l_7)

In [ ]:
##DEALING WITH SET
#creating a set
set_1={'ayo','ola','seun','ayo'}
set_1.add('nife')
print(set_1)

## TUPLE
> Tuple is a collection which is ordered and unchangeable. it is used to store multiple items in a single variable.

In [ ]:
#creating a tuple
tuple_1=('emem','lionel','blessing')

In [ ]:
#switching a tuple to a list
list_8=list(tuple_1)
print(list_8)

In [ ]:
#switching a list to a tuple
tuple_1=tuple(list_8)
print(tuple_1)

In [1]:
####Dealing with set2
fruits_1={'orange','mango','watermelon',"salt",'pear','avocado'}
fruits_2={'strawberry','blueberry','pear','mango','raspberries', "salt"}
fruits_2.discard("pear")
print(fruits_2)

{'salt', 'raspberries', 'strawberry', 'blueberry', 'mango'}

In [ ]:
#Using the update set operation
# fruits_2=list(fruits_2)
# print(fruits_2)
fruits_1.update(("fruits_2", "grains",))
print(fruits_1)

In [ ]:
#Using the remove set operation 
fruits_1.remove("mango")

In [ ]:
#calling fruits_1
fruits_1

In [42]:
#using the union set operation
fruits_1.union(fruits_2)

NameError: name 'fruits_1' is not defined

In [43]:
#Using the union sign to write a code
fruits_1|fruits_2

NameError: name 'fruits_1' is not defined

In [ ]:
#using the intersection set operations
fruits_1.intersection(fruits_2)

In [ ]:
#using the intersection sign to write a code 
fruits_1 & fruits_2

In [ ]:
#using the difference sign to write the code
fruits_1 - fruits_2

In [ ]:
#Using the difference set operation
fruits_1.difference(fruits_2)

In [ ]:
#USING THE SYMMETRIC DIFFERENCE
fruits_1 ^ fruits_2

In [ ]:
fruits_1.symmetric_difference(fruits_2)

In [ ]:
a={1,2,3,4,5,6,8}
b={9,8,7,0,2,3,4}

In [46]:
a.issubset(b)

NameError: name 'a' is not defined

In [ ]:
a.issuperset(b)

In [ ]:
a.isdisjoint(b)

In [ ]:
set_6=

# DICTIONARY
- using dictionary operations

In [3]:
#creating a dictionary and naming it dict_1
dict_1={'one':1,'two':2,'three':3,'four':4,'five':5}
type(dict_1)

dict

In [4]:
dict_1['one']

1

In [ ]:
#creating a dictionary and naming it dict_2
dict_2={'six':6,'seven':7,'eight':8,'nine':9,'ten':10}

In [5]:
#values is used to obtain the actual list
dict_1.values()

dict_values([1, 2, 3, 4, 5])

In [6]:
#keys
dict_1.keys()

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [7]:
#pop removes the specified item from a dictionary
dict_1.pop('three')

3

In [ ]:
dict_1

In [8]:
#popitem removes the last element on a list
dict_1.popitem(1,2,3)

TypeError: dict.popitem() takes no arguments (3 given)

In [ ]:
dict_1

In [ ]:
#it shows the variable
dict_1.get('two')

In [ ]:
#
dict_1

In [9]:
#
dict_3 = dict_1.copy()

In [10]:
#
print(dict_3)

{'one': 1, 'two': 2, 'four': 4, 'five': 5}

In [11]:
dict_1.update(dict_2)

NameError: name 'dict_2' is not defined

In [ ]:
print(dict_1)

In [ ]:
dict_1.clear()

In [ ]:
dict_1

In [10]:
dict_4={'a':2,'b':3}

In [11]:
dict_4['a']

2

In [14]:
dict_4['a']=45

In [15]:
print(dict_4)

{'a': 45, 'b': 3}

In [16]:
dict_4['b']=9

In [17]:
print(dict_4)

{'a': 45, 'b': 9}

In [18]:
dict_4['c']=10

In [19]:
print(dict_4)

{'a': 45, 'b': 9, 'c': 10}

In [20]:
dict_4['number']=123

In [21]:
print(dict_4)

{'a': 45, 'b': 9, 'c': 10, 'number': 123}

In [30]:
list_1=[1,2,3,4,5,6]

In [35]:
list_2=['a','b','c','d','e','f']

In [36]:
zipped_1=zip(list_1,list_2)

In [37]:
print(zipped_1)

<zip object at 0x00000169C2A70C80>

In [38]:
zipped_1

In [39]:
zipped_1=list(zipped_1)
print(zipped_1)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f')]

In [40]:
dictionary=dict(zipped_1)

In [41]:
print(dictionary)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}

#Assignment

In [ ]:
list_2=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
list_10=[10,9,8,7,6,5,4,3,2,1]

In [ ]:
d1=zip(list_2,list_10)
# d1 = dict(d1)
# d1

In [ ]:
print(dict(d1))

In [ ]:
dict_4={1:2,3:4,5:6,7:8}

In [ ]:
dict_5={2:1,3:2,4:3,5:4}

In [ ]:
dict_4.update((dict_5))

In [ ]:
dict_4

In [ ]:
dict_5={'history' : 'my life story',  'Status' : 'Married', 'Hub' : 'EOA'}
dict_5

In [ ]:
dict_5.values()

In [ ]:
print(dict_5['history'])

# Loops in python
- for loop
- while loop

In [20]:
#creation of for loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
b=0
while b!=5:
    print('cool')
    b+=1

cool
cool
cool
cool
cool

In [26]:
b=40
while b>8:
    print(b)
    b-=1

40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9

In [30]:
#first was the creation of dict and then looping it automatically resulting in the keys of the dict
d2={1:2,2:3,4:5,6:7,8:9}
for i in d2:
    print(i)

1
2
4
6
8

In [32]:
#using the for loop to get the keys of the dictionary specifying the key been wanted
for i in d2.keys():
    print(i)

1
2
4
6
8

In [33]:
#using the for loop to get the values of the dictionary specifying the value is what is needed
for i in d2.values():
    print(i)

2
3
5
7
9

In [39]:
#instatiating b with value 0
b=0
#creating the conditional loop(while b not equal to 5)
while b!=5:
# if b!=5,print(cool)
    print('cool')
#incrementing the value of b for every print operation
    b+=1

cool
cool
cool
cool
cool

In [40]:
#Endless or infinite loop
# b=0
# while b!=5:
#     print('cool')

In [41]:
for i in d2.keys():
    print(i)

1
2
4
6
8

In [46]:
n=10
while n>4:
    print(n)
    n-=1
    for i in range (n):
        print(i)

10
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
0
1
2
3
4
5
0
1
2
3

In [6]:
a=2
a-=1
a

1

In [7]:
for i in range(4):
    print(i)

0
1
2
3

In [9]:
my_list=[1,2,3,4,5]
for item in my_list:
    print(item-2)

-1
0
1
2
3

In [11]:
for i in range(100,121):
    print(i)

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120

In [12]:
new_list=[]
for item in my_list:
    new_list.append(item+2)
print(new_list)

[3, 4, 5, 6, 7]

In [20]:
your_list=[]
for item in my_list:
    your_list.append(item**2)
    
print(your_list)

[1, 4, 9, 16, 25]

In [29]:
our_list=[]
for item in my_list[0:2]:
    our_list.append(item**2)
    
for item in my_list[2:]:
    our_list.append(item+item)

print(our_list)

[1, 4, 6, 8, 10]

In [28]:
my_list

[1, 2, 3, 4, 5]

In [36]:
d4={'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9,'ten':10}
print(type(d4))

<class 'dict'>

In [38]:
f9=[]
for item in d4.keys():
    f9.append(item)
print(f9)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [39]:
e8=[]
for item in d4.values():
    e8.append(item)
print(e8)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
b=40
while b>=10:
    print('my loop is running',b)
    b-=2

my loop is running 40
my loop is running 38
my loop is running 36
my loop is running 34
my loop is running 32
my loop is running 30
my loop is running 28
my loop is running 26
my loop is running 24
my loop is running 22
my loop is running 20
my loop is running 18
my loop is running 16
my loop is running 14
my loop is running 12
my loop is running 10

# conditional statements

In [5]:
Age=int(input('Enter your age'))
if Age>10:
    print("congratulations you've been accepted")
else:
    print("sorry you are underage for this class")

Enter your age27
congratulations you've been accepted

In [14]:
Samuel=int(input('Input your score: '))
Blessing=int(input('Input your score: '))
if Samuel>Blessing:
    print("Congrats Samuel you have gotten the scholarship")
else:
    print("Congrats Blessing you have gotten the scholarship")

Input your score: 75
Input your score: 89
Congrats Blessing you have gotten the scholarship

In [27]:
first_person = input('Enter your name:  ')
first_score = int(input('Input your score: '))

second_person = input('\nyour name:'  )
second_score= int(input('Input your score: '))

if first_score>second_score:
    print("Congrats {} you have gotten the scholarship".format(first_person))
else:
    print("Congrats {} you have gotten the scholarship".format(second_person))

Enter your name:  Popoola Bright
Input your score: 200

your name:Popoola Olamide
Input your score: 150
Congrats Popoola Bright you have gotten the scholarship

In [28]:
name = input("enter your name: ")
print("your name is {}, thanks".format(name))

enter your name: Pops
your name is Pops, thanks